{% block footer %}
     <div class="inc:_footer.html">
            <footer>
                <div class="container">
    
                    <!--footer showroom-->
                    <div class="footer-showroom">
                  
                    </div>
    
                    <!--footer links-->
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h5>Parcourir </h5>
                                <ul>
                                    <li><a title="Canapé | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Canap%C3%A9">Canapées</a></li>
                                    <li><a title="Fauteuil | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Fauteuil">Fauteuils</a></li>
                                    <li><a href="#">Tables à manger</a></li>
                                    <li><a title="Table basse | MOBILIER EXPRESS Magasin de meuble Algérie"  href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Tables+basses">Tables basses</a></li>
                                    <li><a title="Meuble Table TV | MOBILIER EXPRESS Magasin de meuble Algérie"  href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+TV">Tables TV</a></li>
                                    <li><a title="Chambre | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre">Chambres</a></li>
                                    <li><a title="Chambre enfant | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre+enfant">Chambres enfant</a></li>
                                    <li><a title="Salle de bain | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Salle+de+bain">Salles de bain</a></li>
                                    <li><a href="#">Dressings</a></li>
                                    <li><a title="Meuble d'entrée | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+d%27entr%C3%A9e">Meubles D'entrée</a></li>
                                    <li><a title="Bureau| MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Bureaux">Bureaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="col-sm-4 col-md-2">
                                <h5>Notre compagnie</h5>
                                <ul>
                               
                                    <li><a href="#">Acctualitées</a></li>
                                    <li><a href="https://mobilierexpress-dz.com/mobilierexpress">Á propos</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">C.C.V</a></li>
                                    <li><a href="#">Plan du site</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h5>Inscrivez-vous à notre newsletter</h5>
                                <p><i>Ajoutez votre adresse e-mail pour recevoir des offres promotionnelles.</i></p>
                                <div class="form-group form-newsletter">
                                    <input class="form-control" type="text" name="email" value="" placeholder="Adresse électronique">
                                    <input type="submit" class="btn btn-clean btn-sm" value="Souscrire">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="call-us h5">Assistance en ligne<br><br><span class="icon icon-phone-handset"></span> 05 55 86 06 85</div>

                            </div>
                        </div>
                    </div>
    
                    <!--footer social-->
    
                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4 links">
                                © 2022 MOBILIER EXPRESS &nbsp; DÉVELOPPEMENT WEB: <a href="https://sarlcreativ.com">CREATIV</a> &nbsp;  | &nbsp;  <a href="#">Plan du site</a> &nbsp; 
                                <ul>
                                  <li><a href="https://web.facebook.com/profile.php?id=100088039441867" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCS9nd3RxLxQVNGte3tRkY3w" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="https://www.instagram.com/mobilier.express/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>

{% endblock %}