{% block footer %}
        <section class="instagram">

            <!-- === instagram header === -->

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center col-sm-12">
                          <p class="p1">
                                <a title="Magasin de meuble Algérie"  href="{{path('app_index')}}">Accueil</a><a title="Magasin de ventes en ligne mobilier express algérie"  href="{{path('app_about')}}" >Notre société</a><a title="Magasin de ventes en ligne meuble Algérie"  href="{{path('app_shop')}}">Nos produits</a><a href="#">Nous contacter</a><a href="#">CGV</a><a href="#">Mentions</a>
                          </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                                    <p class="p2" style="    text-align: center;">INTERVENTION: Vers 58 Wilayas,  Oran - Alger - Annaba - Constantine - Batna  - Blida -  Mostaganem ...</p>

                        </div>
                    </div>
                </div>
            </header>

   
<div class="mots-clefs" style="font-size: 14px;
    line-height: 20px;
    color: #999;     width: 100%;
    margin: 40px auto 25px;
    text-align: center;">
		<p>Vente de meubles - Algérie meubles - Prix chambre  - Chambres algérie 2022 - Canapé - Fauteil  - meilleur magasin meuble 2023- Table TV - Bois - Chambre enfant - Chambre adulte - Table basse -  Table de nuit - Rangement chaussures - Salle de bain - Dressing - Meuble d'entrée - Bureau - Table - Table à manger - Oran - Alger - Annaba - Constantine - Adrar - Chlef - Laghouat - Oum El Bouaghi - Batna - Béjaïa - Biskra - 	Béchar - Blida - Bouira - Tamanrasset - Tébessa - Tlemcen - Tiaret - Tizi Ouzou - 	Alger  - Djelfa - Jijel - Sétif - Saïda - Skikda - Sidi Bel Abbès - Guelma - Médéa - Mostaganem  - M'Sila - Mascara - 	Ouargla - Oran - El Bayadh  - Illizi - 	Bordj Bou Arreridj - Boumerdès - El Tarf - Tindouf - Tissemsilt - El Oued - Khenchela - Souk Ahras - Tipaza - Mila - Aïn Defla - Naâma - Aïn Témouchent -  Ghardaïa - Relizane - meilleur meuble Oran - meuble Tlemcen - Meuble Alger - Blida meubles - Chlef meuble - Béjaïa meuble - Tizi Ouzou meuble - Sétif - Sidi Bel Abbès - Annaba - Guelma - Constantine - Médéa meuble - Mostaganem meuble - Mascara meuble - Boumerdès meuble - Tindouf meuble- Mila - Aïn Témouchent meuble - Ghardaïa - Relizane - Timimoun - Algérie - Adrar - Laghouat - Oum El Bouaghi - Batna - Biskra - Béchar - Bouira - Tamanrasset - Tébessa - Tiaret - Djelfa - Jijel - Saïda - Skikda - M'Sila - Ouargla - El Bayadh - Bordj Bou Arreridj - El Tarf - Tissemsilt - El Oued - Khenchela - chambre Souk Ahras - Tipaza - chambre Aïn Defla - chambre Naâma - Bordj Badji Mokhtar - Ouled Djellal meuble - Béni Abbès meuble - In Salah meuble - Touggourt meuble - Djanet chambre - El M'Ghair chambre - El Meniaa chambre
		</p>
	
	</div>
        </section>
     <div class="inc:_footer.html">
            <footer>
                <div class="container">
    
                    <!--footer showroom-->
                    <div class="footer-showroom">
                  
                    </div>
    
                    <!--footer links-->
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h5>Parcourir </h5>
                                <ul>
                                    <li><a title="Canapé | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Canap%C3%A9">Canapées</a></li>
                                    <li><a title="Fauteuil | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Fauteuil">Fauteuils</a></li>
                                    <li><a title="Table à manger | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Table+%C3%A0+manger">Table à manger</a></li>
                                    <li><a title="Table basse | MOBILIER EXPRESS Magasin de meuble Algérie"  href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Tables+basses">Tables basses</a></li>
                                    <li><a title="Meuble Table TV | MOBILIER EXPRESS Magasin de meuble Algérie"  href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+TV">Tables TV</a></li>
                                    <li><a title="Chambre | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre">Chambres</a></li>
                                    <li><a title="Chambre enfant | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre+enfant">Chambres enfant</a></li>
                                    <li><a title="Salle de bain | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Salle+de+bain">Salles de bain</a></li>
                                    <li><a title="Dressing | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Dressing">Dressings</a></li>
                                    <li><a title="Meuble d'entrée | MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+d%27entr%C3%A9e">Meubles D'entrée</a></li>
                                    <li><a title="Bureau| MOBILIER EXPRESS Magasin de meuble Algérie" href="http://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Bureaux">Bureaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="col-sm-4 col-md-2">
                                <h5>Notre compagnie</h5>
                                <ul>
                               
                                    <li><a href="#">Acctualitées</a></li>
                                    <li><a href="https://mobilierexpress-dz.com/mobilierexpress">Á propos</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">C.C.V</a></li>
                                    <li><a href="#">Plan du site</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h5>Inscrivez-vous à notre newsletter</h5>
                                <p><i>Ajoutez votre adresse e-mail pour recevoir des offres promotionnelles.</i></p>
                                <div class="form-group form-newsletter">
                                    <input class="form-control" type="text" name="email" value="" placeholder="Adresse électronique">
                                    <input type="submit" class="btn btn-clean btn-sm" value="Souscrire">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="call-us h5">Assistance en ligne<br><br><span class="icon icon-phone-handset"></span> 05 55 86 06 85</div>

                            </div>
                        </div>
                    </div>
    
                    <!--footer social-->
    
                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-8">
                                                            © 2022 MOBILIER EXPRESS &nbsp; DÉVELOPPEMENT WEB: <a href="https://sarlcreativ.com">CREATIV</a> &nbsp;  | &nbsp;  <a href="#">Plan du site</a> &nbsp; 

                            </div>
                            <div class="col-sm-4 links">
                                <ul>
                                  <li><a aria-label="Facebook"  href="https://web.facebook.com/profile.php?id=100088039441867" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a aria-label="Youtube"  href="https://www.youtube.com/channel/UCS9nd3RxLxQVNGte3tRkY3w" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a aria-label="Instagram"  href="https://www.instagram.com/mobilier.express/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>

{% endblock %}