{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS Algérie | Meuble, Chambre, Bureau{% endblock %}

{% block body %}
<style>

.p1 a {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
</style>
    <div class="page-loader"></div>

    <div class="wrapper">
{{ block("top", "Menus/top.html.twig") }}
    
          <!-- ================== Banner ================== -->

        <section class="banner" style="background-image:url(assets/images/gallery-7.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">MOBILIER EXPRESS ALGERIE</h1>
                        <div class="text">
                            <p>
                            Fabricant et distributeur du mobilier d'intérieur en Algérie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Cards ======================== -->

        <section class="cards">

            <!-- === cards header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">DESIGN D'INTÉRIEURS</h2>
                        <div class="text">
                            <p>Mobilier Express est le leader du mobilier d'intérieur en ligne en Algérie. </p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="row">

                    <!-- === item === -->

                    <div class="col-md-8">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-7.jpg)">
                                <img src="assets/images/blog-1.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Interior design</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-2.jpg)">
                                <img src="assets/images/blog-2.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">3D Modeling</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-3.jpg)">
                                <img src="assets/images/blog-3.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Arhitect serives</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-4.jpg)">
                                <img src="assets/images/blog-4.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Manufacturing</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-5.jpg)">
                                <img src="assets/images/blog-5.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Planning</a>
                        </figure>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->
        </section>


        <!-- ========================  Banner ======================== -->

        <section class="banner" style="background-image:url(assets/images/gallery-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 text-center">
                        <h2 class="title">Qui sommes-nous ?</h2>
                        <p>
                           Fabricant et distributeur du mobilier d'intérieur en Algérie.
                        </p>
                        <p>
                           Mobilier Express est le leader du mobilier d'intérieur en ligne en Algérie. 
                        </p>
                        <p>Nous concevons, fabriquons et vendons nos meubles en ligne sur tout le téritoir nationnal.</p>
                        <p>Nous vous offrons une large gamme de produits à des prix imbattables, designs uniques, et vous assurons la livraison à domicile et le montage et ce sans aucun
engagement au préalable </p>
 <p>
                          Créé par un groupe d'experts dans le domaine, Mobilier Express ne voit le jour qu'en 2022, une entreprise 100% Algérienne qui crée et concoit sess propres meubles,
un travail minucieux fait par des artisants qui accordent une grande importance à la finition pour donner vie à chaque détail du meuble conçu. La particularité de 
Mobilier Express est qu'elle soit la première boutique de vente de meubles en ligne en Algérie, tout en assurant, grâce à son réseau logistique, la livraison à 
domicile et le montage.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Blog Dark ======================== -->

        <section class="blog blog-block">

            <div class="container">

                <!-- === blog header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2 class="title">Interior ideas</h2>
                            <div class="text">
                                <p>Keeping things minimal</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">28 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Creating the Perfect Gallery Wall </h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">25 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Making the Most Out of Your Kids Old Bedroom</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">28 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Have a look at our new projects!</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                </div>
                <!--/row-->
                <!--button more-->
                <div class="wrapper-more">
                    <a href="ideas.html" class="btn btn-main">View all posts</a>
                </div>

            </div>
            <!--/container-->
        </section>




        <!-- ========================  Instagram ======================== -->

        <section class="instagram">

            <!-- === instagram header === -->

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                          <p class="p1">
                <a href="{{path('app_index')}}">Accueil</a><a >Notre société</a><a>Nos produits</a><a>Nous contacter</a><a>CGV</a><a>Mentions</a>
            </p>
            <p class="p2">INTERVENTION: Vers 58 Wilayas,  Oran - Alger - Annaba - Constantine - Batna  - Blida -  Mostaganem ...</p>
                        </div>
                    </div>
                </div>
            </header>

   
<div class="mots-clefs" style="font-size: 10px;
    line-height: 12px;
    color: #999;     width: 1200px;
    margin: 40px auto 25px;
    text-align: center;">
		<p>Vente de meubles - Algérie meubles - Prix chambre  - Chambres algérie 2022 - Canapé - Fauteil  - meilleur magasin meuble 2023- Table TV - Bois - Chambre enfant - Chambre adulte - Table basse -  Table de nuit - Rangement chaussures - Salle de bain - Dressing - Meuble d'entrée - Bureau - Table - Table à manger - Oran - Alger - Annaba - Constantine - Adrar - Chlef - Laghouat - Oum El Bouaghi - Batna - Béjaïa - Biskra - 	Béchar - Blida - Bouira - Tamanrasset - Tébessa - Tlemcen - Tiaret - Tizi Ouzou - 	Alger  - Djelfa - Jijel - Sétif - Saïda - Skikda - Sidi Bel Abbès - Guelma - Médéa - Mostaganem  - M'Sila - Mascara - 	Ouargla - Oran - El Bayadh  - Illizi - 	Bordj Bou Arreridj - Boumerdès - El Tarf - Tindouf - Tissemsilt - El Oued - Khenchela - Souk Ahras - Tipaza - Mila - Aïn Defla - Naâma - Aïn Témouchent -  Ghardaïa - Relizane - meilleur meuble Oran - meuble Tlemcen - Meuble Alger - Blida meubles - Chlef meuble - Béjaïa meuble - Tizi Ouzou meuble - Sétif - Sidi Bel Abbès - Annaba - Guelma - Constantine - Médéa meuble - Mostaganem meuble - Mascara meuble - Boumerdès meuble - Tindouf meuble- Mila - Aïn Témouchent meuble - Ghardaïa - Relizane - Timimoun - Algérie - Adrar - Laghouat - Oum El Bouaghi - Batna - Biskra - Béchar - Bouira - Tamanrasset - Tébessa - Tiaret - Djelfa - Jijel - Saïda - Skikda - M'Sila - Ouargla - El Bayadh - Bordj Bou Arreridj - El Tarf - Tissemsilt - El Oued - Khenchela - chambre Souk Ahras - Tipaza - chambre Aïn Defla - chambre Naâma - Bordj Badji Mokhtar - Ouled Djellal meuble - Béni Abbès meuble - In Salah meuble - Touggourt meuble - Djanet chambre - El M'Ghair chambre - El Meniaa chambre
		</p>
	
	</div>
        </section>
{{ block("footer", "Menus/Footer.html.twig") }}

    </div> 
{% endblock %}
