{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}

	<div class="app-main">

		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}

		<style>
			.entreprise {
				background-image: linear-gradient(0deg,#3a0f9b 0,#7982e9) !important;
			}
		</style>

				<div class="app-main__outer">
					<div class="app-main__inner">


						<div class="tabs-animation">
					


								</div>

	</div>


	</div>

{% endblock %}
